@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: "Poppins";
  min-height: 68vh;
}

.todo {
  display: flex;
  flex-direction: column;
  min-height: 83vh;
}

.form {
  min-height: 83vh;
  padding: 2%;
  opacity: 0.65;
  text-align: -webkit-center;
  padding-top: 100px;
  background-size: 1370px 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.5em 1em;
  border: 2px solid rgb(39, 40, 39);
  border-radius: 5px;
  display: block;
  width: 30%;
  font-family: 'IndieFlower';
}

.navImage {
  width: 30px;
  height: 30px;
  src: url(./assets/img/clipart3376383.png);
}

@font-face {
  font-family: 'PermanentMarker';
  src: local('PermanentMarker'), url(./assets/fonts/PermanentMarker-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IndieFlower';
  src: local('IndieFlower'), url(./assets/fonts/IndieFlower-Regular.ttf) format('truetype');
}